body {
    background-color: rgb(30, 30, 30);
}

a {
    color: #4B3981;
}

.border {
    border-color: #4B3981 !important;
}

#wrapper {
    min-height: 55vh;
}

#button-container {
    margin-top: 20px;
}

#uptime-container {
    margin-top: 2px;
    padding: 2px 4px;
    color: #FFFFFF;
}
